﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.2.1.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
    <style>
        .form-group-custom {
            display: inline-block;
            margin: 50px auto;
        }
        .color-red{
            color: red;
        }
    </style>
</head>
<body>
    <div class="main-container">
        @RenderBody()
    </div>
</body>
</html>
