﻿@model Wheel_Project.BusinessLayer.DomainModel_Layer.Cast_Assembly.CastDomain
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<script src="~/Content/js/customIndexValidations.js" type="text/javascript"></script>
<div class="container">
    @using (Html.BeginForm("Index", "Home", null, FormMethod.Post, new { @autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="form-group-custom col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label>Alloy Name<span class="color-red">*</span></label>
                    @Html.TextBoxFor(model => model.AlloyName, new { @class = "form-control mandatory", @required = "true" })
                </div>
                <div class="form-group">
                    <label>Alloy Description</label>
                    @Html.TextBoxFor(model => model.AlloyDescription, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Alloy Dimension<span class="color-red">*</span></label>
                    @Html.TextBoxFor(model => model.AlloyDimension, new { @class = "form-control mandatory", @required = "true" })
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary b1" value="Submit" />
                </div>
                @if (ViewBag.Error == null && ViewBag.Message == "1")
                {
                    <div class="form-group">
                        <div class="alert alert-success error1 text-center" role="alert">Saved.</div>
                    </div>
                }
                else if (ViewBag.Error != null)
                {
                    <div class="form-group">
                        <div class="alert alert-danger error1 text-center" role="alert">@ViewBag.Error</div>
                    </div>
                }
            </div>
        </div>
    }
</div>
