﻿@model List<Wheel_Project.BusinessLayer.DomainModel_Layer.Cast_Assembly.CastDomain>


<table class="table table-responsive">
    <thead>
        <tr>
            <td>Name</td>
            <td>Description</td>
            <td>Dimension</td>
            <td>Created On</td>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.AlloyName</td>
                    <td>@item.AlloyDescription</td>
                    <td>@item.AlloyDimension</td>
                    <td>@(item.CreatedOn.HasValue ? item.CreatedOn.Value.ToString("dd/MM/yyyy") : "")</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">No Record Found.</td>
            </tr>
        }
    </tbody>
</table>
